.squaredBannersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.squaredBannersDraggable {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  width: 100vw; /* Adjust the width as needed */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.squaredBannersDraggable::-webkit-scrollbar {
  display: none;
}

.title {
  letter-spacing: 1px;
}
