.squaredBannerContainer {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.squaredBannerContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.squaredBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.squaredBannerContainer:hover .squaredBanner {
  transform: scale(1.1);
}
