.circledBannersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circledBannersDraggable {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  width: 100vw; /* Adjust the width as needed */
}

.title {
  letter-spacing: 1px;
}
