.title,
.price {
  text-align: left;
}

.title {
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 2;
  @media (min-width: 720px) {
    font-size: 20px;
  }
}

.price,
.priceMarkdownContainer {
  font-size: 12px;
  @media (min-width: 720px) {
    font-size: 18px;
  }
}

.priceMarkdownContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.priceBefore {
  text-decoration: line-through;
}

.priceNow {
  font-weight: bold;
}
